<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>ACCA 幸运大抽奖</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <!-- 引入组件库 -->
    <!-- 使用px -->
    <link rel="stylesheet" href="//unpkg.com/vue-ydui/dist/ydui.px.css">
    <!-- 引入Vue2.x -->
    <script src="https://cdn.bootcss.com/vue/2.5.17/vue.min.js"></script>
    <!-- 引入组件库 -->
    <script src="//unpkg.com/vue-ydui/dist/ydui.px.js"></script>
    <style type="text/css">
        .gift-form .yd-input {
            height: auto;
        }
    </style>
</head>

<body>
    <div id="gift" class="gift">
        <yd-navbar title="设置奖项">
            <yd-navbar-back-icon slot="left" @click.native="back">返回</yd-navbar-back-icon>
        </yd-navbar>

        <yd-cell-group class='gift-form'>
            <yd-cell-item>
                <span slot="left" style="color: red;font-weight: 500">设置奖项名称:</span>
                <yd-input slot="right" required v-model="name" placeholder="请输入抽奖名称"></yd-input>
            </yd-cell-item>
            <yd-cell-item>
                <span slot="left" style="color: red;font-weight: 500">设置奖项名额:</span>
                <yd-input slot="right" required v-model="number" max="20" placeholder="请输入奖项名额"></yd-input>
            </yd-cell-item>
            <yd-cell-item>
                <span slot="left" style="color: red;font-weight: 500">设置奖品:</span>
                <yd-button slot="right" type="primary" @click.native="selctGiftShow = true">设置奖品</yd-button>
            </yd-cell-item>
        </yd-cell-group>
        <div>
            <span style="padding:5px" v-for="(item, index) in checklist" :key="index">[{{item}}]</span>
        </div>
        <div style="padding: 20px">
            <yd-button size="large" type="primary" @click.native="saveData">保存设置</yd-button>
        </div>
        <yd-popup v-model="selctGiftShow" position="bottom" height="60%">
            <yd-checklist v-model="checklist">
                <yd-checklist-item :val="item" v-for="(item, index) in allGifts" :key="index">
                    <div style="height: 50px;line-height: 50px;">{{item}}</div>
                </yd-checklist-item>
            </yd-checklist>
        </yd-popup>
        <yd-tabbar fixed>
            <yd-tabbar-item title="首页" type="a" link="index.html">
                <yd-icon name="home" slot="icon"></yd-icon>
            </yd-tabbar-item>
            <yd-tabbar-item title="奖项" type="a" link="list.html">
                <yd-icon name="star" slot="icon"></yd-icon>
            </yd-tabbar-item>
            <yd-tabbar-item title="设置" type="a" link="setting.html">
                <yd-icon name="setting" slot="icon"></yd-icon>
            </yd-tabbar-item>
        </yd-tabbar>
    </div>
    <script type="text/javascript">
        new Vue({
            el: '#gift',
            data: {
                name: '',
                number: '',
                checklist: [],
                selctGiftShow: false,
                allGifts: ["华为Mate20", '小米8', 'iPhone XR', 'macbook',
                    'airpods', "笔记本电脑", '小米平衡车', '蓝牙耳机',
                    '汽车'
                ],
                searchName: ''
            },
            methods: {
                back() {
                    window.history.go(-1);
                },

                saveData() {
                    let giftObj = {
                        name: this.name,
                        number: this.number,
                        selectGift: this.checklist
                    };
                    if (!giftObj.name) {
                        this.$dialog.notify({
                            mes: '请填写奖项名称',
                            timeout: 1500
                        });
                    } else if (!giftObj.number) {
                        this.$dialog.notify({
                            mes: '请填写奖项名额',
                            timeout: 1500
                        });
                    } else if (giftObj.selectGift.length < 1) {
                        this.$dialog.notify({
                            mes: '请选择奖品',
                            timeout: 1500
                        });
                    } else {
                        let allList = localStorage.getItem('__gift__') || [];
                        if (allList.length > 0) {
                            allList = JSON.parse(allList);
                        }
                        let isHas = false;
                        allList.forEach((item, index) => {
                            if (item.name == giftObj.name) {
                                isHas = true;
                                if (!this.searchName) {
                                    this.$dialog.confirm({
                                        title: '系统提示',
                                        mes: item.name + '&nbsp;已存在,是否替换?',
                                        opts: () => {
                                            allList.splice(index, 1);
                                            allList.push(giftObj);
                                            localStorage.setItem('__gift__', JSON.stringify(
                                                allList));
                                            this.$dialog.toast({
                                                mes: '保存成功',
                                                timeout: 1500,
                                                icon: 'success',
                                            });
                                        }
                                    });
                                } else {
                                    allList.splice(index, 1);
                                    allList.push(giftObj);
                                    localStorage.setItem('__gift__', JSON.stringify(
                                        allList));
                                    this.$dialog.toast({
                                        mes: '保存成功',
                                        timeout: 1500,
                                        icon: 'success',
                                    });
                                }
                            } else {
                                isHas = false;
                            }
                        })
                        if (!isHas) {
                            allList.push(giftObj);
                            localStorage.setItem('__gift__', JSON.stringify(
                                allList));
                            this.$dialog.toast({
                                mes: '保存成功',
                                timeout: 1500,
                                icon: 'success',
                            });
                        }
                    }
                },
                getLocalStorage() {
                    let all = localStorage.getItem('__gift__') || [];
                    let search = location.search;
                    let name = search ? decodeURIComponent(search.split('=')[1]) : '';
                    this.searchName = name;
                    if (all && all.length > 0) {
                        all = JSON.parse(all);
                        all.forEach((item, index) => {
                            if (item.name == name) {
                                this.name = item.name;
                                this.number = item.number;
                                this.checklist = item.selectGift;
                            }
                        })
                    }
                }
            },
            mounted() {
                this.getLocalStorage();
            },
            destroyed() {
                this.searchName = '';
            },
        })
    </script>
</body>