<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>ACCA 幸运大抽奖</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <!-- 引入组件库 -->
    <!-- 使用px -->
    <link rel="stylesheet" href="//unpkg.com/vue-ydui/dist/ydui.px.css">
    <!-- 引入Vue2.x -->
    <script src="https://cdn.bootcss.com/vue/2.5.17/vue.min.js"></script>
    <!-- 引入组件库 -->
    <script src="//unpkg.com/vue-ydui/dist/ydui.px.js"></script>
    <style type="text/css">
        .gift-form .yd-input {
            height: auto;
        }
    </style>
</head>

<body>
    <div id="gift" class="gift">
        <yd-navbar title="抽奖">
            <yd-navbar-back-icon slot="left" @click.native="back">返回</yd-navbar-back-icon>
        </yd-navbar>
        <yd-grids-group :rows="2">
            <yd-grids-item>
                <div slot="text">
                    抽奖编号范围
                </div>
            </yd-grids-item>
            <yd-grids-item>
                <div slot="text" @click="setCodeShow = true">
                    <span>{{start}} ~ {{end}}</span>
                </div>
            </yd-grids-item>
        </yd-grids-group>
        <yd-popup v-model="setCodeShow" position="bottom" height="60%">
            <yd-cell-group class='gift-form'>
                <yd-cell-item>
                    <span slot="left" style="color: red;font-weight: 500">抽奖编号范围:</span>
                </yd-cell-item>
                <yd-cell-item>
                    <div slot="left">
                        开始:<yd-spinner mix="0" v-model="start"></yd-spinner>
                    </div>
                    <div slot="right">
                        结束:<yd-spinner v-model="end"></yd-spinner>
                    </div>
                </yd-cell-item>
            </yd-cell-group>
            <yd-button type="primary" @click.native="setCode">设置奖品</yd-button>
        </yd-popup>
        <yd-tabbar fixed>
            <yd-tabbar-item title="首页" type="a" link="index.html" active>
                <yd-icon name="home" slot="icon"></yd-icon>
            </yd-tabbar-item>
            <yd-tabbar-item title="奖项" type="a" link="list.html">
                <yd-icon name="star" slot="icon"></yd-icon>
            </yd-tabbar-item>
            <yd-tabbar-item title="设置" type="a" link="add.html">
                <yd-icon name="setting" slot="icon"></yd-icon>
            </yd-tabbar-item>
        </yd-tabbar>
    </div>
    <script type="text/javascript">
        new Vue({
            el: '#gift',
            data: {
                setCodeShow: false,
                start: '100',
                end: 200,

                name: '',
                number: '',
                checklist: [],
                selctGiftShow: false,
                allGifts: ["华为Mate20", '小米8', 'iPhone XR', 'macbook',
                    'airpods', "笔记本电脑", '小米平衡车', '蓝牙耳机',
                    '汽车'
                ],
            },
            methods: {
                back() {
                    window.history.go(-1);
                },
                setCode(){
                    let codeObj = {
                        start: this.start,
                        end: this.end
                    }
                    localStorage.setItem('__code__', codeObj);
                },

                saveData() {
                    let giftObj = {
                        name: this.name,
                        number: this.number,
                        selectGift: this.checklist
                    };
                    if (!giftObj.name) {
                        this.$dialog.notify({
                            mes: '请填写奖项名称',
                            timeout: 1500
                        });
                    } else if (!giftObj.number) {
                        this.$dialog.notify({
                            mes: '请填写奖项名额',
                            timeout: 1500
                        });
                    } else if (giftObj.selectGift.length < 1) {
                        this.$dialog.notify({
                            mes: '请选择奖品',
                            timeout: 1500
                        });
                    } else {
                        let allList = localStorage.getItem('__gift__') || [];
                        if (allList.length > 0) {
                            allList = JSON.parse(allList);
                        }
                        allList.forEach((item, index) => {
                            if (item.name == giftObj.name) {
                                allList.splice(index, 1);
                            }
                        })
                        allList.push(giftObj);
                        localStorage.setItem('__gift__', JSON.stringify(allList));
                        this.$dialog.toast({
                            mes: '保存成功',
                            timeout: 1500,
                            icon: 'success',
                        });
                    }
                },
                getLocalStorage() {
                    let all = localStorage.getItem('__gift__') || [];
                    alert(all);
                }
            }

        })
    </script>
</body>