<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>ACCA中新教育 幸运大抽奖</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

    <!-- 引入Vue2.x -->
    <script src="https://cdn.bootcss.com/vue/2.5.17/vue.min.js"></script>
    <!-- 引入组件库 -->
    <link rel="stylesheet" href="https://unpkg.com/vue-ydui/dist/ydui.px.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/vue-ydui/dist/ydui.px.js"></script>
    <style type="text/css">
        .gift-form .yd-input {
            height: auto;
        }

        .gift {
            /* background-image: url('./back.jpg') */
        }

        .yd-grids-item:after {
            height: 0px;
        }

        .yd-number {
            line-height: 30px;
            text-align: center;
            padding: 10px;
            background-color: #fff;
            color: red;
            font-size: 18px;
        }
    </style>
</head>

<body>
    <div id="gift" class="gift">
        <yd-navbar title="抽奖">
            <yd-navbar-back-icon slot="left" @click.native="back">返回</yd-navbar-back-icon>
        </yd-navbar>
        <yd-grids-group :rows="2">
            <yd-grids-item>
                <div slot="text">
                    编号范围
                </div>
            </yd-grids-item>
            <yd-grids-item>
                <div slot="text" @click="setCodeShow = true">
                    <span>{{start}} ~ {{end}}</span>
                </div>
            </yd-grids-item>
        </yd-grids-group>
        <yd-grids-group :rows="2">
            <yd-grids-item>
                <div slot="text">
                    当前抽奖:
                </div>
            </yd-grids-item>
            <yd-grids-item>
                <div slot="text" @click="selectGiftShow = true">
                    {{checkingGift}} <span v-if="number">({{number}}名)</span>
                </div>
            </yd-grids-item>
        </yd-grids-group>
        <yd-flexbox v-if="numberSh > 0" v-for="i in numberSh">
            <yd-flexbox-item class="yd-number">{{selectedTimer[3*i - 3]}}</yd-flexbox-item>
            <yd-flexbox-item class="yd-number">{{selectedTimer[3*i - 2]}}</yd-flexbox-item>
            <yd-flexbox-item class="yd-number">{{selectedTimer[3*i - 1]}}</yd-flexbox-item>
        </yd-flexbox>
        <yd-flexbox v-if="numberYu > 0">
            <yd-flexbox-item class="yd-number" v-for="i in numberYu" :key="i">{{selectedTimer[3*numberSh + i - 1]}}</yd-flexbox-item>
        </yd-flexbox>
        <div style="padding: 20px">
            <yd-button v-if="!checking" :disabled="!number" size="large" type="primary" shape="circle" @click.native="startTimer">点击开始</yd-button>
            <yd-button v-else size="large" type="primary" shape="circle" @click.native="stopTimer">停</yd-button>
        </div>
        <yd-flexbox class="yd-number" v-for="(item, index) in historyList" v-if="historyList.length>0">
            <yd-flexbox-item class="yd-number">{{item.name}}{{item.number}}名</yd-flexbox-item>
            <yd-flexbox-item class="yd-number">
                <span v-for="(ii, ind) in item.checkedNums" v-if="ind != 0">|[{{ii}}]</span>
                <span v-else>[{{ii}}]</span>
            </yd-flexbox-item>
        </yd-flexbox>
        <div v-if="historyList.length > 0" style="padding: 5px 50px 5px 50px; margin-bottom: 60px">
            <yd-button :disabled="checking" size="large" type="primary" shape="circle" @click.native="reStart">重置</yd-button>
        </div>
        <yd-popup v-model="setCodeShow" position="bottom" height="60%">
            <yd-cell-group class='gift-form'>
                <yd-cell-item>
                    <span slot="left" style="color: red;font-weight: 500">抽奖编号范围:</span>
                </yd-cell-item>
                <yd-cell-item>
                    <div slot="left">
                        <span style="text-align: center">开始</span>
                    </div>
                    <div slot="right">
                        <span style="text-align: center">结束</span>
                    </div>
                </yd-cell-item>
                <yd-cell-item>
                    <div slot="left">
                        <yd-spinner mix="0" v-model="start" :readonly="historyList.length > 0"></yd-spinner>
                    </div>
                    <div slot="right">
                        <yd-spinner v-model="end" :readonly="historyList.length > 0"></yd-spinner>
                    </div>
                </yd-cell-item>
            </yd-cell-group>
            <yd-button type="primary" shape="circle" size="large" :disabled="historyList.length > 0" @click.native="setCode">保存编号</yd-button>
            <div style="text-align: center">开始抽奖后,不允许再修改该编号</div>
        </yd-popup>
        <yd-popup v-model="selectGiftShow" position="bottom" height="40%">
            <yd-radio-group v-model="checkingGift" :callback="checkedGift">
                <yd-radio style="padding: 30px 10px 5px 15px; width: 33%" :val="item.name" v-for="(item, index) in allGiftItem"
                    :key="index"></yd-radio>
            </yd-radio-group>
            <div style="padding: 20px; margin-bottom: 60px">
                <yd-button size="large" shape="circle" type="primary" @click.native="goToAdd(null, $event)">添加新奖项</yd-button>
            </div>
        </yd-popup>
        <yd-tabbar fixed>
            <yd-tabbar-item title="首页" type="a" link="index.html" active>
                <yd-icon name="home" slot="icon"></yd-icon>
            </yd-tabbar-item>
            <yd-tabbar-item title="奖项" type="a" link="list.html">
                <yd-icon name="star" slot="icon"></yd-icon>
            </yd-tabbar-item>
            <yd-tabbar-item title="设置" type="a" link="setting.html">
                <yd-icon name="setting" slot="icon"></yd-icon>
            </yd-tabbar-item>
        </yd-tabbar>
    </div>
    <script type="text/javascript">
        new Vue({
            el: '#gift',
            data: {
                setCodeShow: false,
                selectGiftShow: false,
                start: 1,
                end: 100,
                name: '',
                number: '',
                numberSh: '',
                numberYu: '',
                checkingGift: '请选择',
                selctGiftShow: false,
                allGiftItem: [],
                timer: [],
                selectedTimer: [],
                selectedTimerPool: [],
                checking: false,
                newCheck: true,
                checkedNums: [],
                allCheckedNums: [],
                historyList: [] // 历史
            },
            methods: {
                checkedGift(val) {
                    this.allGiftItem.forEach(item => {
                        if (item.name == val) {
                            this.number = parseInt(item.number);
                            this.numberSh = parseInt(this.number / 3);
                            this.numberYu = parseInt(this.number % 3);
                            for (let i = 0; i < this.number; i++) {
                                this.$set(this.selectedTimer, i, 0);
                            }
                        }
                    })
                },
                reStart() {
                    this.newCheck = true;
                    this.checkedNums = new Array;
                    this.historyList = [];
                    this.allCheckedNums = [];
                    this.checking = false;
                    for (let i = 0; i < this.number; i++) {
                        this.$set(this.selectedTimer, i, 0);
                    }
                },
                back() {
                    window.history.go(-1);
                },
                goToAdd(name) {
                    if (name) {
                        window.location.href = 'add.html?name=' + name;
                    } else {
                        window.location.href = 'add.html';
                    }
                },
                setCode() {
                    let codeObj = {
                        start: this.start,
                        end: this.end
                    }
                    localStorage.setItem('__code__', JSON.stringify(codeObj));
                },

                getCode() {
                    let codeObj = localStorage.getItem('__code__') || {};
                    if (Object.keys(codeObj).length > 0) {
                        codeObj = JSON.parse(codeObj);
                        this.start = codeObj.start;
                        this.end = codeObj.end;
                    }
                },
                getLocalStorage() {
                    let all = localStorage.getItem('__gift__') || [];
                    if (all.length > 0) {
                        this.allGiftItem = JSON.parse(all);
                    }
                },

                randomNum(lower, upper) {
                    return Math.floor(Math.random() * (upper - lower + 1)) + lower;
                },

                truelyRandom(lower, upper) {
                    console.info('start', lower);
                    console.info('end', upper);
                    this.checkedNums = new Array; //抽中的数组
                    if (this.newCheck) {
                        this.newCheck = false;
                        this.selectedTimerPool = {}; // 编号池子
                        for (let i = lower; i <= upper; i++) {
                            this.selectedTimerPool[i] = i;
                        }
                    }
                    console.info('selectedTimerPool', this.selectedTimerPool);
                    for (let num, i = 0; i < this.number; i++) {
                        do {
                            num = this.randomNum(lower, upper);
                        } while (this.selectedTimerPool[num] == null);
                        this.checkedNums.push(this.selectedTimerPool[num]);
                        this.selectedTimerPool[num] = null;
                    }
                    this.checkedNums.forEach((item, index) => {
                        this.$set(this.selectedTimer, index, item);
                    })
                    this.allCheckedNums = this.checkedNums.concat(this.allCheckedNums);
                    let checkObj = {
                        name: this.checkingGift,
                        number: this.number,
                        checkedNums: this.checkedNums
                    };
                    this.historyList.push(checkObj);
                    console.info('selectedTimerPool', this.selectedTimerPool);
                    console.info('checkedNums', this.checkedNums);
                    console.info('allCheckedNums', this.allCheckedNums);
                },

                startTimer() {
                    if (this.end - this.start - this.number < 0) {
                        this.$dialog.notify({
                            mes: '编号范围不能小于抽奖名额',
                            timeout: 1500
                        });
                        return;
                    }
                    if (!this.newCheck) {
                        let allValues = Object.values(this.selectedTimerPool);
                        let allHas = allValues.filter(tt => {
                            return tt
                        });
                        if (allHas.length < this.number) {
                            this.$dialog.notify({
                                mes: '剩余编号数量小于抽奖名额',
                                timeout: 1500
                            });
                            return;
                        }
                    }
                    this.selectedTimer = [];
                    for (let i = 0; i < this.number; i++) {
                        this.$set(this.selectedTimer, i, 0)
                    }
                    for (let i = 0; i < this.number; i++) {
                        this.$set(this.timer, i, setInterval(() => {
                            let num = this.randomNum(this.start, this.end);
                            this.$set(this.selectedTimer, i, num)
                        }, 30))
                    }
                    this.checking = true;
                },

                // 检查是否重复
                checkSecond(arr, item) {
                    if (arr.includes(item)) {
                        item = this.randomNum(this.start, this.end);
                        this.checkSecond(arr, item);
                    } else {
                        return item;
                    }
                },

                stopTimer() {
                    for (let i = 0; i < this.number; i++) {
                        clearInterval(this.timer[i])
                    }
                    this.truelyRandom(this.start, this.end);

                    this.checking = false;
                }
            },
            mounted() {
                this.getCode();
                this.getLocalStorage();
            }
        })
    </script>
</body>