<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>ACCA 幸运大抽奖</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <!-- 引入组件库 -->
    <!-- 使用px -->
    <link rel="stylesheet" href="//unpkg.com/vue-ydui/dist/ydui.px.css">
    <!-- 引入Vue2.x -->
    <script src="https://cdn.bootcss.com/vue/2.5.17/vue.min.js"></script>
    <!-- 引入组件库 -->
    <script src="//unpkg.com/vue-ydui/dist/ydui.px.js"></script>
    <style type="text/css">
        .gift-form .yd-input {
            height: auto;
        }
    </style>
</head>

<body>
    <div id="gift" class="gift">
        <yd-navbar title="奖项列表">
            <yd-navbar-back-icon slot="left" @click.native="back">返回</yd-navbar-back-icon>
        </yd-navbar>
        <yd-preview :buttons="btns" v-for="(item, index) in allGiftItem" :key="index">
            <yd-preview-header>
                <div slot="left">奖项名称</div>
                <div slot="right">{{item.name}}</div>
            </yd-preview-header>
            <yd-preview-item>
                <div slot="left">奖项名额</div>
                <div slot="right">{{item.number}}名</div>
            </yd-preview-item>
            <yd-preview-item>
                <div slot="left">奖项奖品</div>
                <div slot="right">
                    <span v-for="(gift, key) in item.selectGift" :key="key">[{{gift}}]</span>
                </div>
            </yd-preview-item>
            <yd-preview-item>
                <div slot="left">操作</div>
                <div slot="right">
                    <yd-button size="small" type="primary" @click.native="goToAdd(item.name, $event)">编辑</yd-button>
                    <yd-button size="small" type="danger" @click.native="sureDelete(item, index, $event)">删除</yd-button>
                </div>
            </yd-preview-item>
        </yd-preview>
        <div style="padding: 20px; margin-bottom: 60px">
            <yd-button size="large" shape="circle" type="primary" @click.native="goToAdd(null, $event)">添加奖项</yd-button>
        </div>
        <yd-tabbar fixed>
            <yd-tabbar-item title="首页" type="a" link="index.html">
                <yd-icon name="home" slot="icon"></yd-icon>
            </yd-tabbar-item>
            <yd-tabbar-item title="奖项" type="a" link="list.html" active>
                <yd-icon name="star" slot="icon"></yd-icon>
            </yd-tabbar-item>
            <yd-tabbar-item title="设置" type="a" link="setting.html">
                <yd-icon name="setting" slot="icon"></yd-icon>
            </yd-tabbar-item>
        </yd-tabbar>
    </div>
    <script type="text/javascript">
        new Vue({
            el: '#gift',
            data: {
                name: '',
                number: '',
                checklist: [],
                selctGiftShow: false,
                allGifts: [],
                allGiftItem: [],
                btns: []
            },
            methods: {
                goToAdd(name) {
                    if (name) {
                        window.location.href = 'add.html?name=' + name;
                    } else {
                        window.location.href = 'add.html';
                    }
                },
                sureDelete(item, index) {
                    this.$dialog.confirm({
                        title: '系统提示',
                        mes: '确认删除&nbsp;' + item.name + "?",
                        opts: () => {
                            this.allGiftItem.splice(index, 1);
                            localStorage.setItem('__gift__', JSON.stringify(this.allGiftItem));
                            this.$dialog.toast({
                                mes: '保存成功',
                                timeout: 1500,
                                icon: 'success',
                            });
                            this.getLocalStorage();
                        }
                    });
                },
                back() {
                    window.history.go(-1);
                },
                saveData() {
                    let giftObj = {
                        name: this.name,
                        number: this.number,
                        selectGift: this.checklist
                    };
                    if (!giftObj.name) {
                        this.$dialog.notify({
                            mes: '请填写奖项名称',
                            timeout: 1500
                        });
                    } else if (!giftObj.number) {
                        this.$dialog.notify({
                            mes: '请填写奖项名额',
                            timeout: 1500
                        });
                    } else if (giftObj.selectGift.length < 1) {
                        this.$dialog.notify({
                            mes: '请选择奖品',
                            timeout: 1500
                        });
                    } else {
                        let allList = localStorage.getItem('__gift__') || [];
                        if (allList.length > 0) {
                            allList = JSON.parse(allList);
                        }
                        allList.forEach((item, index) => {
                            if (item.name == giftObj.name) {
                                allList.splice(index, 1);
                            }
                        })
                        allList.push(giftObj);
                        localStorage.setItem('__gift__', JSON.stringify(allList));
                        this.$dialog.toast({
                            mes: '保存成功',
                            timeout: 1500,
                            icon: 'success',
                        });
                    }
                },
                getLocalStorage() {
                    let all = localStorage.getItem('__gift__') || [];
                    if (all.length > 0) {
                        this.allGiftItem = JSON.parse(all);
                    }
                },
            },
            mounted() {
                this.getLocalStorage();
            },

        })
    </script>
</body>