<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>ACCA中新教育 幸运大抽奖</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

    <!-- 引入Vue2.x -->
    <script src="https://cdn.bootcss.com/vue/2.5.17/vue.min.js"></script>
    <!-- 引入组件库 -->
    <link rel="stylesheet" href="https://unpkg.com/vue-ydui/dist/ydui.px.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/vue-ydui/dist/ydui.px.js"></script>
    <style type="text/css">
        .gift-form .yd-input {
            height: auto;
        }

        .gift {
            background-color: #fff
        }

        .yd-number {
            line-height: 30px;
            text-align: center;
            padding: 10px;
            background-color: #fff;
            color: red;
            font-size: 18px;
        }
    </style>
</head>

<body>
    <div id="gift" class="gift">
        <yd-navbar title="奖品池">
            <yd-navbar-back-icon slot="left" @click.native="back">返回</yd-navbar-back-icon>
        </yd-navbar>
        <div style="padding: 20px">
            <yd-button size="large" type="primary" shape="circle" @click.native="addGiftShow = true">设置奖品池</yd-button>
        </div>
        <yd-flexbox v-for="i in allGifts">
            <yd-flexbox-item class="yd-number">{{i}}</yd-flexbox-item>
        </yd-flexbox>
        <yd-popup v-model="addGiftShow" position="bottom" height="60%">
            <yd-cell-group class='gift-form'>
                <yd-cell-item>
                    <span slot="left" style="color: red;font-weight: 500">添加奖品:</span>
                </yd-cell-item>
                <yd-cell-item>
                    <span slot="left">奖品:</span>
                    <yd-input slot="right" required v-model="name" placeholder="请输入奖品名称"></yd-input>
                </yd-cell-item>
            </yd-cell-group>
            <div style="padding: 20px">
                <yd-button type="primary" size="large" shape="circle" @click.native="saveData">保存</yd-button>
            </div>
        </yd-popup>
        <yd-tabbar fixed>
            <yd-tabbar-item title="首页" type="a" link="index.html">
                <yd-icon name="home" slot="icon"></yd-icon>
            </yd-tabbar-item>
            <yd-tabbar-item title="奖项" type="a" link="list.html">
                <yd-icon name="star" slot="icon"></yd-icon>
            </yd-tabbar-item>
            <yd-tabbar-item title="设置" type="a" link="setting.html" active>
                <yd-icon name="setting" slot="icon"></yd-icon>
            </yd-tabbar-item>
        </yd-tabbar>
    </div>
    <script type="text/javascript">
        new Vue({
            el: '#gift',
            data: {
                name: '',
                checklist: [],
                selctGiftShow: false,
                allGifts: [],
                addGiftShow: false
            },
            methods: {
                back() {
                    window.history.go(-1);
                },
                saveData() {
                    if (!this.name) {
                        this.$dialog.notify({
                            mes: '请填写奖品名称',
                            timeout: 1500
                        });
                    } else {
                        if (this.allGifts.includes(this.name)) {
                            this.$dialog.notify({
                                mes: '该奖品已添加',
                                timeout: 1500
                            });
                        } else {
                            this.allGifts.push(this.name);
                            localStorage.setItem('__giftsList__', JSON.stringify(this.allGifts));
                            this.$dialog.toast({
                                mes: '添加成功',
                                timeout: 1500,
                                icon: 'success',
                            });
                            this.getLocalStorage();
                        }
                    }
                },
                getLocalStorage() {
                    let all = localStorage.getItem('__giftsList__') || [];
                    console.info(all);
                    if (all && all.length > 0) {
                        this.allGifts = JSON.parse(all);
                    }
                },
            },
            mounted() {
                this.getLocalStorage();
            },

        })
    </script>
</body>